{% extends "templates/app.twig" %}

{% block naslov %}

<h1 class="display-1 mb-3 text-success">&gt; slim3_builder_ - <span class="text-danger">[{{ tip }}]</span></h1>
<p class="display-6">
	<em>baza:</em> <strong class="text-danger">{{ baza }}</strong>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<em>tabela</em> <strong class="text-danger">{{ tabela }}</strong>
</p>
<p>
	<span class="text-danger">NAPOMENA: </span>
	{{ napomena }}
</p>
{% endblock naslov %}
{% block sadrzaj %}
<pre class="bg-dark text-white p-3"><code>{{ modkod.sadrzaj }}</code></pre>
{% endblock sadrzaj %}
{% block traka %}
<div class="sticky-top">
<a href="{{ path_for('kontroler.meso.izmena.get', {id:modkod.id}) }}" class="btn btn-outline-danger">Izmena mesa</a>
<a href="{{ path_for('kontroler.skelet.izmena.get', {id:skelet.id}) }}" class="btn btn-outline-danger">Izmena skeleta</a>
</div>
{% endblock traka %}