{% extends "templates/app.twig" %}

{% block naslov %}

<h1 class="display-1 mb-3 text-success">&gt; slim3_builder_ - <span class="text-danger">[SKELET]</span></h1>
<p class="display-6">
	<em>naziv:</em> <strong class="text-danger">{{ izbor.naziv }}</strong>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<em>putanja:</em> <strong class="text-danger">{{ izbor.putanja }}</strong>
</p>
<p class="display-6">
	<em>baza:</em> <strong class="text-danger">{{ izbor.baza }}</strong>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<em>tabela:</em> <strong class="text-danger">{{ izbor.tabela }}</strong>
</p>
<p class="display-6">
	<strong class="text-danger">{{ skelet.putanja }}</strong><strong class="text-success">{{ skelet.naziv }}</strong>
</p>

<pre class="lead"><code>{{ skelet.sadrzaj }}</code></pre>

<p>
	<a href="{{ path_for('skelet') }}" class="btn btn-primary btn-lg">Nazad</a>
</p>

{% endblock naslov %}
