<nav class="navbar navbar-dark bg-dark text-light navbar-expand-lg sticky-top d-flex">
  <div class="container-fluid">
      <a href="{{ path_for('pocetna') }}" class="navbar-brand text-success">
        &gt; slim3_builder_
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ path_for('pocetna') }}"><i class="fas fa-home"></i> HOME</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
            <i class="fas fa-code"></i> APP
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="{{ path_for('putanje') }}">Naziv aplikacije</a>
            <a class="dropdown-item" href="{{ path_for('baze') }}">Izbor baze</a>
            <a class="dropdown-item" href="{{ path_for('tabele') }}">Izbor tabele</a>
            <a class="dropdown-item" href="{{ path_for('podesavanja') }}">Podesavanja</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path_for('skelet') }}">Skelet</a>
            <a class="dropdown-item" href="{{ path_for('podesavanja') }}">Meso</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
            <i class="fab fa-php"></i> PHP
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="{{ path_for('rute') }}">Rute</a>
            <a class="dropdown-item" href="{{ path_for('model') }}">Model</a>
            <a class="dropdown-item" href="{{ path_for('kontroler') }}">Napravi kontroler (skelet=>meso)</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
            <i class="fab fa-html5"></i> HTML
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="{{ path_for('pogled.pretraga') }}">Pogled pretraga</a>
            <a class="dropdown-item" href="{{ path_for('pogled.dodavanje') }}">Pogled dodavanje</a>
            <a class="dropdown-item" href="{{ path_for('pogled.izmena') }}">Pogled izmena</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path_for('pocetna') }}"><i class="fab fa-css3"></i> CSS</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
            <i class="fab fa-js-square"></i> JS
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="{{ path_for('tabela') }}">Tabela</a>
            <a class="dropdown-item" href="{{ path_for('kalendar') }}">Kalendar</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
